local: &local
  adapter: postgresql
  encoding: unicode
  username: user
  password: user
  host: localhost

development:
  <<: *local
  database: simplepm_development

test:
  <<: *local
  database: simplepm_test

production:
  <<: *local
  database: simplepm_production