local: &local
  adapter: postgresql
  user: postgres
  password:
  host: localhost

development:
  <<: *local
  database: simplepm_development

test:
  <<: *local
  database: simplepm_test

production:
  <<: *local
  database: simplepm_production